.tablettab {
  padding: 5px;
  font-size: 14px;
}
.tablettab .btn,
.tablettab .form-control {
  border-radius: 4px;
  border-style: outset;
  padding-left: 2px;
  font-size: 10px;
  width: 95%;
}
.tablettab .form-control {
  margin-left: 2.5%;
}

.tablettab .jog-selector {
  width: 75%;
  margin-left: auto;
  margin-right: 5%;
}
.row.no-gutter [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.tablettab .dropdown {
  position: inherit;
  display: block;
}

.tablettab .btn[disabled] {
  opacity: .6;
}
.control-pad .form-control[disabled] {
  opacity: .4;
}
.middle-block {
  top: 100%;
  left: 0;
  z-index: 100;
}
.jog-controls {
    display: block;
}
.run-controls {
    display: none;
}
> * {
  margin-bottom: 5px;
}
> *:last-child {
  margin-bottom: 0;
}
.tablettab .dropdown-menu {
  position: absolute;
  right: 0;
}
.tablettab .dropdown-menu>li>a .fa {
  width: 16px;
}
.axis-position .row {
  padding-bottom: 5px;
}
.nav-panel .container-fluid {
  padding-bottom: 12px;
}
.axis-position .container-fluid {
  background-color: azure;
  padding-top: 12px;
  padding-bottom: 12px;
}
.control-pad .container-fluid {
  background-color: lightyellow;
  padding-top: 12px;
  padding-bottom: 12px;
}
.tablettab .nav-panel .btn {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
}
.nav-panel .row [class^="col-"],
.nav-panel .row [class*=" col-"] {
  padding-right: 5px;
}
.nav-panel .row [class^="col-"]:last-child,
.nav-panel .row [class*=" col-"]:last-child {
  padding-right: 0;
}
.active-state {
#  border: 1px solid #ccc;
#  border-radius: 4px;
#  background-color: #f6f686;
  padding: 5px 10px;
  text-align: center;
}
.pos-name {
  text-align: center;
}
.info-button {
  text-align: center;
  padding: 5px 10px;
}
.axis-label {
  font-size: 20px;
  padding: 0 8px;
  text-align: right;
}
.position {
  width: 90%;
  float: right;
  text-align: right;
  background-color: #f0fff0;
}
.mposition {
  font-size: 10px;
  width: 90%;
  float: right;
  text-align: center;
  color: lightslategray;
  padding: 6px 12px 6px 12px;
}
.load {
  font-size: 12px;
  width: 99%;
  resize: none;
}
.fileslist {
    padding-top: 20px;
}
textarea {
  font-size: 12px;
  width: 99%;
  resize: none;
}
.tablettab .axis-position .btn {
  text-align: center;
}

.spindle {
   text-align: center;
}


.btn-units {
   text-align: left;
}

.rotate-45deg {
  transform: rotate(45deg);
}
.rotate-45deg:before {
  transform: rotate(45deg);
}
.rotate--45deg {
  transform: rotate(-45deg);
}
.rotate--45deg:before {
  transform: rotate(-45deg);
}
.rotate-90deg {
  transform: rotate(90deg);
}
.rotate-90deg:before {
  transform: rotate(90deg);
}
.rotate--90deg {
  transform: rotate(-90deg);
}
.rotate--90deg:before {
  transform: rotate(-90deg);
}

.control-pad .row [class^="col-"],
.control-pad .row [class*=" col-"] {
  padding-right: 5px;
}
.control-pad .row [class^="col-"]:last-child,
.control-pad .row [class*=" col-"]:last-child {
  padding-right: 0;
}
.control-pad .row {
  padding-bottom: 5px;
}
.control-pad .row:last-child {
  padding-bottom: 5px;
}
.control-pad .tablettab .btn {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.axis-position .inset {
  padding-left: 15px;
}

.mdi .container-fluid {
  background-color: lavenderblush;
  padding-top: 12px;
  padding-bottom: 0px;
}

@media (min-width: 512px) {
  .tablettab .btn,
  .tablettab .form-control {
    font-size: 12px;
  }
  .tablettab .mposition {
    font-size: 12px;
  }
}
@media (min-width: 640px) {
  .tablettab .btn,
  .tablettab .form-control {
    font-size: 14px;
  }
  .tablettab .mposition {
    font-size: 14px;
  }
}
@media (min-width: 736px) {
  {
    font-size: 14px;
  }
  .tablettab .dropdown-menu {
    min-width: 180px;
  }
  .tablettab .dropdown-menu>li>a .fa {
    width: 14px;
  }
  .axis-label {
    font-size: 24px;
  }
  .tablettab .dropdown-menu {
    font-size: 24px;
  }
  .tablettab .btn,
  .form-control {
    font-size: 14px;
    height: 30px;
  }
  .tablettab .mposition {
    font-size: 14px;
  }

  #jog-distance {
    text-align-last: right;
  }
  textarea {
    font-size: 9px;
  }
  #small-toolpath {
      width: 180px;
      height: 100px;
  }
}

@media (min-width: 768px) {
  .tablettab {
    font-size: 15px;
  }
  .tablettab .dropdown-menu {
    min-width: 180px;
  }
  .tablettab .dropdown-menu>li>a .fa {
    width: 15px;
  }
  .axis-label {
    font-size: 24px;
  }
  .tablettab .dropdown-menu {
    font-size: 24px;
  }
  .tablettab .btn,
  .tablettab .form-control {
    font-size: 15px;
    height: 30px;
  }
  .tablettab .mposition {
    font-size: 15px;
  }
  #jog-distance {
    text-align-last: right;
  }
  textarea {
    font-size: 11px;
  }
  #small-toolpath {
      width: 230px;
      height: 130px;
  }
}
@media (min-width: 992px) {
  .tablettab {
    font-size: 20px;
  }
  .tablettab .dropdown-menu {
    min-width: 200px;
  }
  .tablettab .dropdown-menu>li>a .fa {
    width: 20px;
  }
  .axis-label {
    font-size: 28px;
  }
  .tablettab .dropdown-menu {
    font-size: 24px;
  }
  .tablettab .btn,
  .tablettab .form-control {
    font-size: 20px;
    height: 40px;
  }
  .tablettab .mposition {
    font-size: 20px;
  }

  textarea {
    font-size: 12px;
  }
  #small-toolpath {
      width: 250px;
      height: 130px;
  }
}
@media (min-width: 1200px) {
  .tablettab {
    font-size: 28px;
  }
  .tablettab .dropdown-menu {
    min-width: 220px;
  }
  .tablettab .dropdown-menu>li>a .fa {
    width: 28px;
  }
  .axis-label {
    font-size: 32px;
  }
  .tablettab .dropdown-menu {
    font-size: 28px;
  }
  .tablettab .btn,
  .tablettab .form-control {
    font-size: 28px;
    height: 52px;
  }
  .tablettab .mposition {
    font-size: 28px;
  }

  textarea {
    font-size: 14px;
  }
  #small-toolpath {
      width: 300px;
      height: 160px;
  }
}
